# Database
MONGODB_URI=mongodb://localhost:27017

# Threat Intelligence Feed API Keys
ABUSEIPDB_API_KEY=your_key_here
ALIENVAULT_API_KEY=your_key_here

# Enrichment API Keys
VIRUSTOTAL_API_KEY=your_key_here
SHODAN_API_KEY=your_key_here

# App
LOG_LEVEL=DEBUG